documents
downloads
mnt
movies
music
pictures
pycharm
repo
tmp
todo.txt
.zsh_history
.bash*
.PyCharm*
.dbus
.mozilla
.mpd/database
.mpd/log
.mpd/pid
.mpd/state
.ssh
.viminfo
.aws
.Xauthority
.cache
.gnupg
.java
.putty
.python_history
.local/share/JetBrains
.local/share/mc/history
.local/share/vlc
.local/share/zathura
*.xbel
.ncmpcpp/error.log
.serverauth*
.zcompdump
.config/vlc
.fehbg
.lesshst
.vim/.netrwhist
*.swp
*.swap
