! --- ~/.Xresources ---

!xterm*faceName: Inconsolata
xterm*faceName: Terminus
xterm*faceSize: 9
xterm*xftAntialias: true
XTerm*metaSendsEscape: true

xterm*utf8: 1
xterm*locale: true
xterm*scrollKey: true
xterm*savelines: 512
xterm*ScrollBar: false
xterm*loginshell: true
xterm*visualBell: false
xterm*marginBell: false
xterm*fastScroll: true
xterm*jumpScroll: true
xterm*multiScroll: true

xterm*autoWrap: true
xterm*dynamicColors: true
xterm*scrollTtyOutput: false
xterm*alwaysHighlight: true
xterm*highlightSelection: true

xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! special
xterm*.foreground:   #ffffff
xterm*.background:   #0b0b0b
xterm*.cursorColor:  #ffffff

! black
xterm*.color0:       #424242
xterm*.color8:       #424242

! red
xterm*.color1:       #54487a
xterm*.color9:       #54487a

! green
xterm*.color2:        #929292
xterm*.color10:       #929292

! yellow
xterm*.color3:       #00ff00
xterm*.color11:      #00ff00

! blue
xterm*.color4:       #54487a
xterm*.color12:      #54487a

! magenta
xterm*.color5:       #54487a
xterm*.color13:      #54487a

! cyan
xterm*.color6:       #54487a
xterm*.color14:      #54487a

! white
xterm*.color7:       #ffffff
xterm*.color15:      #ffffff
