! --- ~/.Xresources ---

xterm*faceName: Inconsolata
xterm*faceSize: 10
xterm*xftAntialias: true
XTerm*metaSendsEscape: true

xterm*utf8: 1
xterm*locale: true
xterm*scrollKey: true
xterm*savelines: 512
xterm*ScrollBar: false
xterm*loginshell: true
xterm*visualBell: false
xterm*marginBell: false
xterm*fastScroll: true
xterm*jumpScroll: true
xterm*multiScroll: true

xterm*autoWrap: true
xterm*dynamicColors: true
xterm*scrollTtyOutput: false
xterm*alwaysHighlight: true
xterm*highlightSelection: true

xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! special
xterm*.foreground:   #ffffff
xterm*.background:   #0b0b0b
xterm*.cursorColor:  #ffffff

! black
xterm*.color0:       #424242
xterm*.color8:       #424242

! red
xterm*.color1:       #ff0000
xterm*.color9:       #ff0000

! green
xterm*.color2:        #929292
xterm*.color10:       #929292

! yellow
xterm*.color3:       #cecb00
xterm*.color11:      #fffd00

! blue
xterm*.color4:       #001cd1
xterm*.color12:      #0026ff

! magenta
xterm*.color5:       #929292
xterm*.color13:      #929292

! cyan
xterm*.color6:       #0dcdcd
xterm*.color14:      #14ffff

! white
xterm*.color7:       #e5e5e5
xterm*.color15:      #ffffff
